<div class="btn-group">

  <!-- Back -->
  <button class="btn btn-default" style="min-width: 75px;" data-async-href="<%=anvil_assignment_list_path%>">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>

  <!-- Refresh -->
  <button class="btn btn-default" style="min-width: 75px;" data-async-href="<%= "anvil/#{@assignment.id}/assignment" %>">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>

  <!-- Download -->
  <button style="min-width: 150px;" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Download <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Python</a></li>
    <li><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/proj/py_win" %>>Windows</a></li>
    <li><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/proj/py_osx" %>>Mac OSX</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">C++</a></li>
    <li role="presentation" class="disabled"><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/proj/VS" %>>Visual Studio</a></li>
    <li role="presentation" class="disabled"><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/proj/XCode" %>>XCode</a></li>
  </ul>
</div>

<div style="text-align: center">
  <h1 class="text-center"><%= @assignment.name %></h1>
</div>


<h4 class="text-center">
  <span class="label label-<%= @assignment.due_date_color %>">
    <%= @assignment.is_past_due ? 'Closed' : @assignment.due_date_countdown %>
  </span>
</h4>

<div style="text-align: center;">
  <br>

  <h3>My Progress</h3>
  <div data-async-url="<%="anvil/#{@assignment.id}/assignment_progress"%>">
    <img style="max-width: 100px; margin-top: 100px; margin-bottom: 100px;" alt="Loading" src=<%= asset_path('Loading.gif') %> />
  </div>
</div>
<br>
<br>

<hr>

<div data-async-url="<%="anvil/#{@assignment.id}/assignment_description"%>">
  <div style="text-align: center;">
    <img style="max-width: 100px; margin-top: 100px; margin-bottom: 100px;" alt="Loading" src=<%= asset_path('Loading.gif') %> />
  </div>
</div>