<img style="width: 300px;" src=<%= asset_path('XCode/XCodeIcon.png') %> />
<P>All you need to get started is XCode, from the Apple App Store. It's that easy!
<form action='https://itunes.apple.com/us/app/xcode/id497799835?ls=1&mt=12'>
  <button class="btn btn-primary">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Open in App Store
  </button>
</form>

<br>
<br>

<h3>What is XCode?</h3>
<p>XCode is an IDE (Integrated Development Environment) made by Apple. For now think of it as a very sophisticated text editor for code, one that knows intimately how the code works and holds the code's hand while it is running. All Anvil assignments are built to run in XCode or it's Windows counterpart, Visual Studio.</p>

<br>
<br>

<h3>What do I do with it?</h3>
<p>On Mac OSX all Anvil assignments are loaded with XCode. Simply download an assignment and double click on the .xcodeproj file. XCode will launch and open up the project.</p>
<img style="max-width: 1024px; margin-bottom: 50px;" src=<%= asset_path('XCode/XCodeJustOpened.png') %>/>

<p>Welcome to XCode! Lets take a quick look at the important controls. Lets take a look at the panel controls, in the upper right corner. Click the middle button to un-hide the debugger. We will use this panel to view console output. Click the right button to hide the Utilities Panel. Anvil Assignments do not use this panel.</p>
<img style="max-width: 150px; margin-bottom: 50px;" src=<%= asset_path('XCode/PaneControls.png') %>/>


<p>To the left is the Navigator, where all files in this project are shown hierarchically. Note that this panel can also be hidden with the panel controls. By default it should look similar to this. Anvil Assignments can look different from each other so your mileage may vary.</p>
<img style="max-width: 300px; margin-bottom: 50px;" src=<%= asset_path('XCode/ProjectExplorerClosed.png') %>/>

<p>Expand out the folder with the same name as the project. In this case HelloWorldAssignment.</p>
<img style="max-width:300px; margin-bottom: 50px;" src=<%= asset_path('XCode/ProjectExplorerOpen.png') %>/>

<p>We found our almighty main.cpp file! All C++ executables have what is known as an 'entry point'. In this case our entry point is in main.cpp. It is where the code will start running when we click the play button. Single click main.cpp to open it in the editor panel. Double clicking the file will open it in a new window.</p>
<img style="max-width: 720px; margin-bottom: 50px;" src=<%= asset_path('XCode/XCodeCodeReady.png') %>/>

<p>Hit the play button in the upper left corner. This will build your project and run it assuming there were no build errors.</p>
<img style="max-width: 100px; margin-bottom: 50px;" src=<%= asset_path('XCode/RunStopButton.png') %>/>

<p>Congratulations, you just compiled and ran your first Anvil Assignment! Granted we didn't add any code so there was no output. From here you can begin working on the Anvil Assignment.</p>

<br>
<br>
<h2>Good Hunting!</h2>
<i>Remember, Search Engines are your friend. Most 'how do I do XYZ in XCode' questions have been answered online.</i>
<br>
<br>