<img style="width: 300px;" src=<%= asset_path('VisualStudio/VSIcon.png') %> />
<p>On Windows Anvil uses Microsoft Visual Studio 2012 for all Anvil Assignments. Visual Studio comes in two flavors, Express and Pro. As a students Microsoft offers the Pro version for free. It is highly recommended you get the Pro version if it is available to you.</p>

<br>
<h3>Visual Studio 2012 Pro (Recommended)</h3>
<p>The Pro version is available free for students. Head over to <a href="https://www.dreamspark.com/Product/Product.aspx?productid=44">DreamSpark.com</a> and click on <i>Get Verified</i>. Sign in with any a Microsoft account. From there you will need to provide a valid and unused .edu email address to prove you are indeed a student. Once verified download and install "Visual Studio Professional 2012".</p>


<br>
<h3>Visual Studio 2012 Express</h3>
<p>The express version can be downloaded as an ISO disk image or using the Web Installer from the <a href="http://www.microsoft.com/en-us/download/details.aspx?id=34673">Microsoft Download Center</a>. Chose one of the two after clicking Download. Use the Web Installer (wdexpress_full.exe) if you do not know what an ISO is.</p>


<br>
<br>
<h3>What is Visual Studio?</h3>
<p>Visual Studio is an IDE (Integrated Development Environment) made by Microsoft. For now think of it as a very sophisticated text editor for code, one that knows intimately how the code works and holds the code's hand while it is running. All Anvil assignments are built to run in Visual Studio or it's Mac OSX counterpart, XCode.</p>

<br>
<br>
<h3>What do I do with it?</h3>
<p>On Windows all Anvil assignments are loaded with Visual Studio 2012. Simply download an assignment and double click on the .sln file. Visual Studio will launch and open up the project.</p>
<img style="max-width: 1024px; margin-bottom: 50px;" src=<%= asset_path('VisualStudio/VSJustOpened.png') %>/>


<p>Welcome to Visual Studio! To the left is the Solution Explorer, where all files in this solution are shown hierarchically. By default it should look similar to this although panels may be moved around if you picked different settings when first launching Visual Studio.</p>
<img style="max-width: 300px; margin-bottom: 50px;" src=<%= asset_path('VisualStudio/SolutionExplorerClosed.png') %>/>

<p>Expand the Project, in this case called HelloWorld.</p>
<img style="max-width:300px; margin-bottom: 50px;" src=<%= asset_path('VisualStudio/SolutionExplorerOpen.png') %>/>

<p>We found our almighty main.cpp file! All C++ executables have what is known as an 'entry point'. In this case our entry point is in Main.cpp. It is where the code will start running when we click run. Double click Main.cpp to open it in the editor panel.</p>
<img style="max-width: 720px; margin-bottom: 50px;" src=<%= asset_path('VisualStudio/VSCodeReady.png') %>/>

<p>Go to Debug and click Start Debugging. Note that the keyboard shortcut (In this case F5) will change depending on what settings you picked when first launching Visual Studio. This will build your project and run it assuming there were no build errors.</p>
<img style="max-width: 300px; margin-bottom: 50px;" src=<%= asset_path('VisualStudio/StartDebugging.png') %>/>

<p>Congratulations, you just compiled and ran your first Anvil Assignment! Granted we didn't add any code so there was no output. From here you can begin working on the Anvil Assignment.</p>

<br>
<br>
<h2>Good Hunting!</h2>
<i>Remember, Search Engines are your friend. Most 'how do I do XYZ in XCode' questions have been answered online.</i>
<br>
<br>