<% content_for :for_head do %>
    <div id="anvilHeader">
      <span id="dummySpan"></span>
      <div id="label">Anvil</div>
    </div>
<% end %>

<br>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class=<%= 'active' if current_page?(anvil_show_path) %>>
    <a href=<%= anvil_show_path %>>Getting Started with Anvil</a>
  </li>
  <li role="presentation" class=<%= 'active' if current_page?(anvil_list_path) %>>
    <a href=<%= anvil_list_path %>>My Anvil
    <% assignmentsCount = pending_assignments_count %>
    <% if assignmentsCount != 0 %>
        <span class="badge"> <%= pending_assignments_count %></span>
    <% end %></a></li>
  <li role="presentation" class=<%= 'active' if current_page?(anvil_overview_path) %>>
    <a href=<%= anvil_overview_path %>>My Overview</a>
  </li>
  <li role="presentation">
    <a href=<%= anvil_show_path %>>Class Statistics</a>
  </li>
</ul>

<br>