<div class="container">
  <!-- Example row of columns -->

	<h3>Known users:</h3>
	<% User.getAllUsersFromMeta do |user| %>
		<div class="well">
	  	<h4><%= user.displayName %></h4>
	  	<p>Username: <%= user.username %></p>
	  	<p>Password: <%= user.password %></p>
	  	<p>Spawn Location: <%= user.spawnLocation %></p>
	  	<p>Auth Token: <%= user.authToken %></p>
		</div>
	<% end %>