<h1 class="text-center"><%= @assignment.name %></h1>
<h4 class="text-center">
  <span class="label label-<%= @assignment.due_date_color %>">
    <%= @assignment.is_past_due ? 'Closed' : @assignment.due_date_countdown %>
  </span>
</h4>

<hr>

<ul class="nav nav-pills">
  <li role="presentation" class=<%= 'active' if current_page?(assignment_path(@assignment.id)) %>>
    <a href=<%= assignment_path(@assignment.id) %>>Assignment</a>
  </li>
  <li role="presentation"><a href="#">Class Statistics</a></li>
  <li role="presentation" class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Download <span class="caret"></span>
    </a>
    <ul class="dropdown-menu data-no-turbolink" role="menu">
      <li><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/vs" %>>Visual Studio 2012</a></li>
      <li><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/xcode" %>>XCode</a></li>
      <li><a class="data-no-turbolink" href=<%= "/downloads/#{@assignment.id}/makefile" %>>Unix Makefile</a></li>
    </ul>
  </li>
</ul>

<br>

<div class="panel panel-<%= @panelColor %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      Assignment Overview
      <div class="badge pull-right"><%= "#{@earnedPoints} / #{@totalPoints}" %></div>
    </h3>
  </div>
  <div class="panel-body">
    <p class="pull-right">TODO: ADD DATE HERE</p>
    <!--Render Assignment-->
    <%= markdown(@assignment.markdown) %>
  </div>
</div>

<!--Render Each Level-->
<% @levels.each do |level| %>
    <div class="panel panel-<%= level.panelColor %>" >
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="badge"><%= level.levelDescription.levelNumber %></span> <%= level.levelDescription.name %>
          <div class="badge pull-right"><%= "#{level.userLevel.points} / #{level.levelDescription.points}" %></div>
        </h3>
      </div>
      <div class="panel-body">
        <%= markdown(level.levelDescription.markdown) %>
      </div>
    </div>
<% end %>